#best-deal-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	/*height: 120px;*/
	background: white;
	border: 1px solid black;
	padding: 10px;
	z-index: 999;
}

#best-deal-brand{
    height: 40px;
    border: 1px solid rgb(103, 103, 103);
    width: 150px;
    float: right;
    margin-top: -52px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 18px;
    text-align: center;
    color: rgb(34, 151, 211);
    line-height: 45px;
    background: white;
    z-index: 999;
}

.bd-offers-container {
	width: 100%;
	text-align: center;
}

.bd-offer {
	display: inline-block;
	vertical-align: top;
	border: 1px solid gray;
	height: 80px;
	padding-left:5px;
	padding-right: 5px;
}

.bd-offer-img-container, .bd-offer-details-container {
	display: inline-block;
	vertical-align: top;
}

.bd-offer-img-container img {
	height: 80px;
	width: 100px;
}

.bd-offer-hotel-name {
	font-weight: bold;
}

.bd-debug-container {
	display: inline-block;
	border: 1px solid black;
}



